canvas {
    border: 1px dotted black;
}


#bar1{
	width:200px;
	height:25px;
	border:1px solid black;
	position:relative;
	margin: auto;
}
#slider1{
	width:0%;
	height:100%;
	background-color:#ffcc00;
	top:0px;
	left:0px;
	position:absolute;
	cursor:pointer;
	margin: auto;
}
#info1{
	width:200px;
	height:25px;
	margin: auto;
}


#bar2{
	width:200px;
	height:25px;
	border:1px solid black;
	position:relative;
	margin: auto;
}
#slider2{
	width:0%;
	height:100%;
	background-color:#ffcc00;
	top:0px;
	left:0px;
	position:absolute;
	cursor:pointer;
	margin: auto;
}
#info2{
	width:200px;
	height:25px;
	margin: auto;
	
}


#bar3{
	width:200px;
	height:25px;
	border:1px solid black;
	position:relative;
	margin: auto;
}
#slider3{
	width:0%;
	height:100%;
	background-color:#ffcc00;
	top:0px;
	left:0px;
	position:absolute;
	cursor:pointer;
	margin: auto;
}
#info3{
	width:200px;
	height:25px;
	margin: auto;
	
}


#bar4{
	width:200px;
	height:25px;
	border:1px solid black;
	position:relative;
	margin: auto;
}
#slider4{
	width:0%;
	height:100%;
	background-color:#ffcc00;
	top:0px;
	left:0px;
	position:absolute;
	cursor:pointer;
	margin: auto;
}
#info4{
	width:200px;
	height:25px;
	margin: auto;
	
}


#bar5{
	width:200px;
	height:25px;
	border:1px solid black;
	position:relative;
	margin: auto;
}
#slider5{
	width:0%;
	height:100%;
	background-color:#ffcc00;
	top:0px;
	left:0px;
	position:absolute;
	cursor:pointer;
	margin: auto;
}
#info5{
	width:200px;
	height:25px;
	margin: auto;
	
}



#bar6{
	width:200px;
	height:25px;
	border:1px solid black;
	position:relative;
	margin: auto;
}
#slider6{
	width:0%;
	height:100%;
	background-color:#ffcc00;
	top:0px;
	left:0px;
	position:absolute;
	cursor:pointer;
	margin: auto;
}
#info6{
	width:200px;
	height:25px;
	margin: auto;
}



#bar7{
	width:200px;
	height:25px;
	border:1px solid black;
	position:relative;
	margin: auto;
}
#slider7{
	width:0%;
	height:100%;
	background-color:#ffcc00;
	top:0px;
	margin: auto;
	left:0px;
	position:absolute;
	cursor:pointer;
}
#info7{
	width:200px;
	height:25px;
	margin: auto;
	
}


