canvas {
    border: 4px black;
    background-color:#333333;
    border-radius: 20px;
	 
}

p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: #cca300;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}


#bar1{
	width:200px;
	height:25px;
	border:1px solid black;
	position:relative;
	margin: auto;
	border-radius: 20px;
}
#slider1{
	width:0%;
	height:100%;
	background-color:#ffcc00;
	top:0px;
	left:0px;
	position:absolute;
	cursor:pointer;
	margin: auto;
	border-radius: 20px;
}
#info1{
	width:200px;
	height:25px;
	margin: auto;
}


#bar2{
	width:200px;
	height:25px;
	border:1px solid black;
	position:relative;
	margin: auto;
	border-radius: 20px;
}
#slider2{
	width:0%;
	height:100%;
	background-color:#ffcc00;
	top:0px;
	left:0px;
	position:absolute;
	cursor:pointer;
	margin: auto;
	border-radius: 20px;
}
#info2{
	width:200px;
	height:25px;
	margin: auto;
	border-radius: 20px;
}


#bar3{
	width:200px;
	height:25px;
	border:1px solid black;
	position:relative;
	margin: auto;
	border-radius: 20px;
}
#slider3{
	width:0%;
	height:100%;
	background-color:#ffcc00;
	top:0px;
	left:0px;
	position:absolute;
	cursor:pointer;
	margin: auto;
	border-radius: 20px;
}
#info3{
	width:200px;
	height:25px;
	margin: auto;
	border-radius: 20px;
	
}


#bar4{
	width:200px;
	height:25px;
	border:1px solid black;
	position:relative;
	margin: auto;
	border-radius: 20px;
}
#slider4{
	width:0%;
	height:100%;
	background-color:#ffcc00;
	top:0px;
	left:0px;
	position:absolute;
	cursor:pointer;
	margin: auto;
	border-radius: 20px;
}
#info4{
	width:200px;
	height:25px;
	margin: auto;
	
}


#bar5{
	width:200px;
	height:25px;
	border:1px solid black;
	position:relative;
	margin: auto;
	border-radius: 20px;
}
#slider5{
	width:0%;
	height:100%;
	background-color:#ffcc00;
	top:0px;
	left:0px;
	position:absolute;
	cursor:pointer;
	margin: auto;
	border-radius: 20px;
}
#info5{
	width:200px;
	height:25px;
	margin: auto;
	
}



#bar6{
	width:200px;
	height:25px;
	border:1px solid black;
	position:relative;
	margin: auto;
	border-radius: 20px;
}
#slider6{
	width:0%;
	height:100%;
	background-color:#ffcc00;
	top:0px;
	left:0px;
	position:absolute;
	cursor:pointer;
	margin: auto;
	border-radius: 20px;
}
#info6{
	width:200px;
	height:25px;
	margin: auto;
}



#bar7{
	width:200px;
	height:25px;
	border:1px solid black;
	position:relative;
	margin: auto;
	border-radius: 20px;
}
#slider7{
	width:0%;
	height:100%;
	background-color:#ffcc00;
	top:0px;
	margin: auto;
	left:0px;
	position:absolute;
	cursor:pointer;
	border-radius: 20px;
}
#info7{
	width:200px;
	height:25px;
	margin: auto;
	
}


